
<h2>Grid de Clientes com Kendo UI por Web Api</h2>

<div id="grid" class="table"></div>

@section scripts{

    <script type="text/javascript">
        var dataSource = new kendo.data.DataSource({
            transport: {
                create: {
                    url: "http://localhost:51127/api/Values?json=true",
                    contentType: "application/json",
                    type: "POST"
                },
                read: {
                    url: "http://localhost:51127/api/Values?json=true",
                    dataType: "json"
                },
                update: {
                    url: function (values) {
                        alert('update');
                        return "http://localhost:51127/api/Values/" + values.ClienteId + "?json=true";
                    },
                    contentType: "application/json",
                    type: "PUT"
                },
                destroy: {
                    url: function (values) {
                        alert('destroy');
                        return "http://localhost:51127/api/Values/" + values.ClienteId + "?json=true";
                    },
                    contentType: "application/json",
                    type: "DELETE"
                },
                parameterMap: function (data, operation) {
                    return JSON.stringify(data);
                }
            },
            serverPaging: true,
            //serverFiltering: true,
            //serverSorting: true,
            pageSize: 10,
            schema: {
                model: {
                    id: "ClienteId",
                    Nome: "Nome",
                    Sobrenome: "Sobrenome",
                    Email: "E-mail",
                    Ativo: "Disponivel"
                }
            }
        });

        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 400,
                columns: [
                    { field: "Nome", width: "150px", validation: { required: true } },
                    { field: "Sobrenome", width: "150px" },
                    { field: "Email", validation: { required: true } },
                    { field: "Ativo", type: "boolean", template: "#= Ativo ? 'Sim' : 'Não' #", editor: customBoolEditor },
                    { command: [{ name: "destroy", text: "Excluir" }], title: "", width: "110px" }
                ],
                toolbar: [
                    { name: "create", text: "Novo" },
                    { name: "save", text: "Salvar as alterações" },
                    { name: "cancel", text: "Cancelar" }
                ],
                navigatable: true,
                //sortable: true,
                //filterable: true,
                editable: true,
                pageable: true
            });
        });

        function customBoolEditor(container, options) {
            var guid = kendo.guid();
            $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Ativo" data-type="boolean" data-bind="checked:Ativo">').appendTo(container);
            $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
        }
    </script>
}
